<div class="container">
	<h1 class="white-text-color col-md-5">Pronto alguno de nuestros agentes se contactará contigo</h1>
	<canvas id="canvas" width="1280" height="630" style="background: rgba(255, 255, 255, .0);"></canvas>
</div>
<%= image_tag("background.jpg", :class => "backalltime") %>

