<div id="super" class="super" style="opacity: 1;">
 	<%= menu_navegacion2({:index => "Home",:quienes_somos => "¿Quienes somos?",:aplicaciones_web => "Aplicaciones Web", :aplicaciones_moviles => "Aplicaciones Moviles", :diseno_grafico => "Diseño Grafico", :contactenos => "Contacenos"}) %>

	<img id="logo" src="/img/img1_animation.png" class="img-responsive logo-home" style="top: 80px; opacity: 1;">
	<img id="logom2" src="/img/img2_animation.png" class="img-responsive logom2-home" style="top: -270px; right: -704.743777452416px; transform: rotate(-329.062957540264deg); -webkit-transform: rotate(-329.062957540264deg);">
</div>
<!-- Animation scripts -->
<script src="/js/tuix.js" type="text/javascript"></script>
<script src="/js/anima-logo.js" type="text/javascript"></script>