<!DOCTYPE html>
<html>
<head>
  <title>Tuix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://code.createjs.com/easeljs-0.7.0.min.js"></script>
  <script src="http://code.createjs.com/tweenjs-0.5.0.min.js"></script>
  <script src="http://code.createjs.com/movieclip-0.7.0.min.js"></script>
  <script src="http://code.createjs.com/preloadjs-0.4.0.min.js"></script>
  <script src="anima_logo.js"></script>
</head>
<body onload="init();">

<%= yield %>

</body>
</html>
